{% extends 'base.html' %}
{% block body %}
{% load static %}      
{% load bootstrap4 %}
    <main>
        <!--? slider Area Start-->
        <div class="slider-area ">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/about.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap">
                                <h2>About us</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'about:about' %}">About</a></li> 
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!--? About Area Start -->
        <div class="about-low-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">
                                <span>{{ about.title}}</span>
                                <h2>{{ about.subtitle}}</h2>
                            </div>
                            <p>{{ about.content }}</p>
                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img ">
                            <div class="about-font-img">
                                <!-- <img src="{{ about.image.url }}" alt=""> -->
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Area End -->
        <!--? contact-form start -->
        <section class="contact-form-area section-bg  pt-115 pb-120 fix" data-background="{% static 'assets/img/gallery/section_bg02.jpg' %}">
            <div class="container">
                <div class="row justify-content-end">
                    <!-- Contact wrapper -->
                    <div class="col-xl-8 col-lg-9">
                        <div class="contact-form-wrapper">
                            <!-- From tittle -->
                            <div class="row">
                               <div class="col-lg-12" id="voke">
                                    <!-- Section Tittle -->
                                    <div class="section-tittle mb-50">
                                        <span>Get a Qote For Free</span>
                                        <h2>Request a Free Quote</h2>
                                        <p>Brook presents your services with flexible, convenient and cdpose layouts. You can select your favorite layouts & elements for.</p>
                                    </div>
                               </div>
                            </div>
                            <!-- form -->
                            <form action="" method="post" class="probootstrap-form mb60">
                                <form action="/url/to/submit/" method="post" class="form">
                                  {% csrf_token %}
                                  {% bootstrap_form reserve_form %}
                                  {% buttons %}
                                      <button type="submit" class="btn btn-primary">Send message</button>
                                  {% endbuttons %}
                              </form>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact-form end -->
        <!--Team Ara Start -->
        <div class="team-area section-padding30">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <span>Our Team Mambers</span>
                            <h2>What We Can Do For You</h2>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    {% for i in team %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-team mb-30 text-center">
                          <div class="card-deck">
                             <div class="card team-img">
                                <img class="card-img-top img-fluid" class="img-fluid" src="{{ i.image.url }}" width="200px" height="40px" alt="Card image cap">
                                <div class="card-body team-caption">
                                  <h5 class="card-title">{{ i.title }}</h5>
                                  <p class="card-text">{{ i.position }}</p>
                                  <div class="team-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                </div>
                             </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Team Ara End -->
        <!--? Testimonial Start -->
        <div class="testimonial-area testimonial-padding section-bg" data-background="{% static 'assets/img/gallery/section_bg04.jpg' %}">
            <div class="container">
                
                <div class="row justify-content-between">
                    
                    <div class="col-xl-7 col-lg-7">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-25">
                            <span>Clients Testimonials</span>
                            <h2>What Our Clients Say!</h2>
                        </div> 
                        <div class="h1-testimonial-active mb-70">
                            <!-- Single Testimonial -->
                            {% for n in testimonial %}
                            <div class="single-testimonial ">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>{{ n.content }}</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center">
                                        <div class="founder-img">
                                            <img class="img-thumbnail img-fluid"  src="{{ n.image.url }}" alt="" width="200" height="200">
                                        </div>
                                        <div class="founder-text">
                                            <span>{{  n.client }}</span>
                                            <p>{{ n.occupation }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Form Start -->
                    <div class="col-xl-4 col-lg-5 col-md-8">
                        <div class="testimonial-form text-center">
                            <h3>Always listening, always understanding.</h3>
                            <input type="text" placeholder="Incoterms">
                            <button name="submit" class="submit-btn"><a href="#voke">Request a Quote</a> </button>
                        </div>
                    </div>
                    <!-- Form End -->
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
         <!--? Blog Area Start -->
         
        <!-- Blog Area End -->
    </main>
    {% endblock body %}